body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
	color: orange;
	text-align: center;
	font-family: 'Comic Sans MS';
}

h2 {
	color: orangered;
	text-align: center;
	font-family: 'Comic Sans MS';
}

h3 {
	color: orange;
	text-align: center;
	font-family: 'Comic Sans MS';
}


.orangeFont {
	color: orange;
	text-align: center;
	font-family: 'Comic Sans MS';
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}