@{
    ViewBag.Title = "About Our Coffee Shop";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<head>
    <link href="~/Views/Home/StyleSheet.css" rel="stylesheet" />

</head>

<p>Thanks for Stopping By! Make sure you Join our Coffee Club for Special Offers.</p>
<img src="~/Images/grand-circus-logo.jpg" />