@{
//ViewBag.Title = "About Our Coffee Shop";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<head>
    <link href="~/Views/Home/StyleSheet.css" rel="stylesheet" />

</head>
<img src="~/Content/Images/GC-horizontal-darkgray.png" class="center" />

<br /><br />

<p align="center">Thanks for Stopping By!<br />
    Make sure you Join our <a href="/Home/SignUpForm">Coffee Club</a> for Special Offers.</p>

<br />

<img src="~/Content/Images/grand-circus-logo.jpg" class="center" />


@*<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>

    @foreach (var c in ViewBag.ItemList)
    {
        <tr>
            <td>@c.Name</td>
            <td>@c.Decsription</td>

        </tr>
    }
</table>*@