@{
    ViewBag.Title = "Grand Circus Coffee Shop";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1570 Woodward Avenue, Level 3,<br />
    Detroit, MI 48226<br />
    <abbr title="Phone">P:</abbr>
    (313) 338-2780
</address>

<address>
    <strong>OnlineOder:</strong>   <a href="mailto:Order@GcCoffee.com">OnlineOrder@example.com</a><br />
    <strong>SpecialOffers:</strong> <a href="mailto:Offers@GcCoffee.com">SpecialOffers@example.com</a>
</address>