
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<h1>Warning! You are a very bad boy! We have captured your IP address and are sending your search history to your Mom!@ViewBag.Address</h1>
@Html.ValidationSummary()