
@{
    /**/

    ViewBag.Title = "SignUpForm";
}

<h1>Welcome to the Grand Circus Coffee Club!</h1>

<h2> Please fill out the Sign Up Form below,<br /> and you'll receive special offers and discounts!</h2>

<br /><br />

<form action="/Home/AddNewUser" method="post">

    Username: <input type="text" name="UserName" required /><br /><br />

    Password: <input type="password" name="Password" required /><br /><br />

    Email: <input type="email" name="Email" required placeholder="example@example.com" /><br /><br />

    FirstName: <input type="text" name="FirstName" required /><br /><br />

    LastName: <input type="text" name="LastName" required /><br /><br />

    <input type="submit" value="Sign me up!" />

</form>

