
@{
    /**/

    ViewBag.Title = "SignUpForm";
}

<h2>SignUpForm</h2>

<form action="/Home/AddNewUser" method="post">

    Username: <input type="text" name="UserName" required /><br /><br />

    Password: <input type="password" name="Password" required /><br /><br />

    Email: <input type="email" name="Email" required placeholder="example@example.com" /><br /><br />

    FirstName: <input type="text" name="FirstName" required /><br /><br />

    LastName: <input type="text" name="LastName" required /><br /><br />

    <input type="submit" value="Sign me up!" />

</form>

